@using Ch02FutureValueShipler2.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FutureValueModel
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Future Value Calculator</title>
    <style>
        /* all of the CSS styles from figure 2-14 go here*/
    </style>
</head>
<body>
    <h1>Future Value Calculator</h1>
    <form>
    </form>
</body>
</html>
